{{ partial "header.html" . }}

<style>
  .tags {
    color: #de16d1; /* Change to your preferred color */
  }
</style>

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
   {{ with .Params.tags }}
   <span class="tags">[{{ range $index, $tag := . }}{{ if $index }}, {{ end }}{{ $tag }}{{ end }}]: </span>    {{ end }}       
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
